{% extends "layout.html" %}
{% block title %}Muokkaa suoritusta{% endblock %}
{% block heading %}Suorituksen muokkaus{% endblock %}
{% block info %}
Tällä hetkellä voit ainoastaan poistaa suorituksen.
{% endblock %}
{% block content %}
<form action="/delete-entry" method="POST">
	<p>Oletko varma, että haluat poistaa suorituksen?</p>
	<input type="submit" value="Poista">
	<input type="hidden" name="e_id" value="{{ entry_id }}">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}
