{% extends "layout.html" %}
{% block title %}Uusi aktiviteetti{% endblock %}
{% block heading %}Uusi aktiviteetti{% endblock %}
{% block info %}
Tällä sivulla voit luoda uuden aktiviteetin, jota haluat seurata.
{% endblock %}
{% block content %}
<form action="/create-activity" method="POST">
	<p>Aktiviteetin nimi: <br>
	<input type="text" name="name"></p>
	<p>Kategoria: <br>
	<select name="category">
		<option value="default" selected>Ei kategoriaa</option>
		{% for category in categories %}
		<option value="{{ category.id }}">{{ category.name }}</option>
		{% endfor %}</p>
	</select>
	<p><input type="submit" value="Luo aktiviteetti"></p>
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
<a href="/">Palaa etusivulle</a>
{% endblock %}

